.Navbar{
    width: 100%;
    height: 90px;
    background: black;
    box-shadow: 2px 4px 3px 2px #c9c5c5;
    padding: 10px;
    box-sizing: border-box;
}
.navbar-main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    padding: 10px ;
    box-sizing: border-box;
}
.navbar-main div{
    border: 1px solid red;
    height: 100%;
    width: 30%;
    text-align: center;
}
.navbar-main .navbar-logo img{
    height: 100%;
    width: 191px;
}